@model IEnumerable< Spotifive.Models.Song>
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/motoDark.css">
    <link rel="stylesheet" href="~/css/bodyLight.css">
    <link rel="stylesheet" href="~/css/sgnLogBttnDark.css">
    <link rel="stylesheet" href="~/css/logo.css">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"  crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <style>
        header {
            position: fixed;
            height:32vh;
            width:200vh;
            top: 0;
            z-index: 1;
            background-color: #a8b6f0;
        }
        .logo {
            position: fixed;
            bottom: 40px;
            right: 60px;
        }
    .secsongs{
        position:relative;
        margin-top: 34vh;
             
    }

       
        .search-container {
            position: fixed;
            top: 2%;
            left: 20%;
        }

        .search-box {
            margin: 20px 5px;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid gray;
            width: 300px;
            font-size: 16px;
        }
         
        .search-button {
            position: fixed;
            top: 4.5%;
            left: 42%;
            font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
            font-size: 22px;
            border-radius: 30px;
            background-color: #0b2847;
            text-align: center;
            color: #a8b6f0;
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h3 {
            position: fixed;
            top: 100px;
            left: 150px;
        }
  

        .imgProfile {
            position: fixed;
            right: 14vh;
            top: 5vh;
            font-style: italic;
            height: 50px;
            width: 50px;
        }

        .imagesong{
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            height: 150px;
        }
    
        h1 {
            position: fixed;
            top: 20vh;
            left: 40vh;
            font-size: 40px;
            font-weight: bold;
        }
    
        

        .positionh2 {
            position: fixed;
            top: 60px;
            left: 100px;
        }
        .imgpos{
            height: 150px;
            width:150px;
        }
        .tabpos{
            position: fixed;
            top: 40%;
            left: 20%;
        }

        .posInfo {
            position: absolute;
            top: 50%;
            left: 300px;
            width: 200px;
        }

        .imgG {
            --m: radial-gradient(circle farthest-side at right,#000 99%,#0000) 0 100%/46% 92% no-repeat, radial-gradient(circle farthest-side at left,#000 99%,#0000) 100% 0/46% 92% no-repeat;
            -webkit-mask: var(--m);
            mask: var(--m);
            filter: grayscale(.5);
            transition: .3s linear;
            cursor: pointer;
        }

            .imgG:hover {
                -webkit-mask-position: 7.5% 50%,92.5% 50%;
                mask-position: 7.5% 50%,92.5% 50%;
                filter: grayscale(0);
            }

        .hvr {
            --c: linear-gradient(#0b2847 0 0); /* update the color here */

            padding-bottom: .15em;
            background: var(--c), var(--c);
            background-size: .3em .1em;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            transition: .3s linear, background-size .3s .2s linear;
           
        }

            .hvr:hover {
                background-size: 40% .1em;
                background-position: 10% 100%, 90% 100%;
            }




       
        
    </style>

</head>

<header>
    <form>
        <div class="search-container">
            <input type="text" class="search-box" id="Text1" placeholder="Type here..." />
            <button type="button" class="search-button" data-target="#srcsong" data-toggle="modal" id="showPop">Search</button>
        </div>
       
        <!-- Modal -->
        <div class="modal hide fade" id="srcsong" tabindex="-1" role="dialog">
            <div class="modal-dialog   modal-lg">

                <!-- Modal content-->
                <div class="modal-content" style="background-color:#0b2847;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body ">
                        <div id="popup">
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>

    @section Scripts{
        <script>
            $('#showPop').click(function () {
                var url = '@Url.Action("GetPartialView", "Home")';
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { "para": $("#Text1").val() },
                    success: function (data) {
                        $('#popup').html(data);
                    }
                });
            })


        </script>
    }

    <!--User avatar-->
    <a asp-action="Account" asp-controller="Account"><img class="imgProfile" id="userAvatar" src="~/assets/images/Profile.png"></a>




    <div class="positionh2">

        <a asp-action="Home" asp-controller="Home" style="color:#0b2847; font-size: 30px;" class="hvr">Home</a>

        <br>


        <a asp-action="Artist" asp-controller="Artist" style="color:#0b2847;font-size: 30px;" class="hvr">Artists</a>

        <br>

        @if (User.IsInRole("RegisteredUser"))
        {
            <a asp-action="Playlist" asp-controller="Playlist" style="color:#0b2847; font-size: 30px;" class="hvr">Playlists</a>
           
        }
        <br>
        <h1 style="color:#0b2847;">Top songs</h1>

    </div>
  
</header>

<body>


    <section class="secsongs">
        <div class="row text-center" style="margin-bottom:100px;">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 ">
                <div>
                    <a asp-area="" asp-controller="Song" asp-action="Song" asp-route-id="@item.ID" style="-webkit-text-fill-color:#0b2847;">
                            <img class="imgG" src="@item.Image" alt="@item.SongName" width="200" height="200" >
                    </a>
                    <p class="text-center" style="color:#0b2847;">@item.SongName</p>
                </div>
            </div>
        }
        </div>
    </section>
        

    <div>
        <a href="your-link-here">
            <img width="130" height="100" class="logo" src="~/assets/images/SpotiFIVELogo.png">
        </a>
  

    </div>
</body>