@model Spotifive.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit Account";
}
@{
    var usermanager = await UserManager.GetUserAsync(User);
}
@{
    var roles = ViewBag.Roles as SelectList;
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/body.css">

    <style>

        .btn {
            position: fixed;
            top: 575px;
            left: 1150px;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            letter-spacing: 1px;
            border-radius: 20px/50px;
            border: 2px solid #a8b6f0;
            transition: all 0.5s ease 0s;
            color: #a8b6f0;
        }

            .btn:hover,
            .btn:focus {
                color: #0b2847;
                background: radial-gradient(circle, #a8b6f0 0.25em, transparent 0.25em) center/0.1em 0.1em;
                box-shadow: 4px 4px rgba(253,238,172,0.2);
            }



        .delete {
            position: fixed;
            top: 600px;
            left: 210px;
        }

        .update {
            position: fixed;
            top: 600px;
            left: 350px;
        }

        .background {
            position: fixed;
            top: 80px;
            left: 200px;
            width: 700px;
            height: 300px;
        }
    </style>

</head>


<body class="background" style="background-color:#0b2847;">

    <form asp-action="Update" asp-controller="Administrator">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Name:</b>
            </h2>
            <input type="text" class="form-control" value="@Model.Name" asp-for="Name" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Last name:</b>
            </h2>
            <input type="text" class="form-control" asp-for="Surname" value="@Model.Surname" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Date of birth:</b>
            </h2>
            <input type="text" class="form-control" value="@Model.DateOfBirth" asp-for="DateOfBirth" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>E-mail:</b>
            </h2>
            <input type="email" class="form-control" value="@Model.Email" asp-for="Email" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
        </div>
        <div class="form-group mb-3">
            <h3 style="color:#a8b6f0;  font-family: Montserrat; text-align: left; font-size: 20px">
                <b>Gender:</b>
            </h3>

            <select asp-for="Gender" class="form-control" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px ">
                @foreach (var g in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@g">@g</option>
                }
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <h5 style="color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px">
                <b>Role:</b>
            </h5>
            <div class="form-group">
                <label for="role">Select Role:</label>
                @Html.DropDownList("Role", roles, "-- Select Role --", new { @class = "form-control" })
            </div>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
       
        <input type="submit" class="btn update" value="Update">

    </form>

    <form method="post" asp-action="Delete" asp-controller="Administrator" asp-route-id="@Model.Id">



        <input type="submit" class="btn posDelete" value="Delete" style=" color:#a8b6f0;">


    </form>

</body>