@model CurrentUser
@using Microsoft.AspNetCore.Identity
@using Spotifive.Data
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<body style="background-color:#0b2847;">
</body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    .image1 {
        position: fixed;
        top: 100px;
        left: 200px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

</style>
<img class="image1" src="https://w7.pngwing.com/pngs/754/2/png-transparent-samsung-galaxy-a8-a8-user-login-telephone-avatar-pawn-blue-angle-sphere-thumbnail.png">

<style>

    .background {
        position: fixed;
        top: 270px;
        left: 200px;
        width: 700px;
        height: 300px;
        background-color: #a8b6f0;
    }

    .bckh1 {
        position: fixed;
        top: 150px;
        left: 380px;
        color: #a8b6f0;
    }
    .text-box10 {
        color: #0b2847;
        font-family: Montserrat;
        font-size: 15px;
        text-align: center;
    }

    .background1 {
        position: fixed;
        top: 520px;
        left: 1100px;
    }

    .buttonUserCritic {
        font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
        font-size: 22px;
        border-radius: 30px;
        text-align: center;
        background-color: #a8b6f0;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .image2 {
        position: fixed;
        top: 100px;
        left: 1150px;
        height: 30px;
        width: 30px;
    }
</style>

<div class="text-box">
    <div class="background"></div>
</div>

<input class="bckh1" type="text" value="@user.UserName" asp-for="Username" style=" background-color:#0b2847; font-family: Montserrat; text-align: center; font-size: 25px; border:none" />

<form method="post" asp-route-change="data">
    <div class="form-group mb-3">
        <h2 style="color:#0b2847 ;font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Name:</b> 
        </h2>
        <input type="text" class="form-control" value="@user.Name" asp-for="Name" style=" color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
        <h2 style="color:#0b2847 ;font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Surname:</b>
        </h2>
        <input type="text" class="form-control" value="@user.Surname" asp-for="Surname" style=" color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
        <h2 style="color:#0b2847 ;font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Date of birth:</b>
        </h2>
        <input type="date" class="form-control" value="@user.DateOfBirth" asp-for="Date" style=" color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
        <h2 style="color:#0b2847 ;font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>E-mail:</b>
        </h2>
        <input type="email" class="form-control" value="@user.Email" asp-for="Email" style=" color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
        <h2 style="color:#0b2847 ;font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Password:</b>
        </h2>
        <input type="password" class="form-control" asp-for="Password" style=" color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
</form>


<div class="text-box10" ;">
    <button class="background1 buttonUserCritic"> <a asp-action="Index" asp-controller="Account" style="color:#0b2847">Sign out</a></button>
</div>

<a asp-action="Home" asp-controller="Home"><img class="image2" src="https://static.vecteezy.com/system/resources/thumbnails/009/385/954/small/house-symbol-and-home-icon-sign-design-free-png.png"/>
</a>