@model Spotifive.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<body style="background-color:#0b2847;">
</body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    .image1 {
        position: fixed;
        top: 100px;
        left: 200px;
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }

</style>
<img class="image1" src="https://w7.pngwing.com/pngs/754/2/png-transparent-samsung-galaxy-a8-a8-user-login-telephone-avatar-pawn-blue-angle-sphere-thumbnail.png">

<style>

    .background {
        position: fixed;
        top: 270px;
        left: 140px;
        width: 700px;
        height: 300px;
        background-color: #a8b6f0;
    }

    .bckh1 {
        position: fixed;
        top: 150px;
        left: 380px;
        color: #a8b6f0;
    }
    .text-box10 {
        color: #0b2847;
        font-family: Montserrat;
        font-size: 15px;
        text-align: center;
    }

    .btn {
        position: fixed;
        top: 575px;
        left: 1150px;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 1px;
        border-radius: 20px/50px;
        border: 2px solid #a8b6f0;
        transition: all 0.5s ease 0s;
        color:#a8b6f0;
    }

        .btn:hover,
        .btn:focus {
            color:#0b2847;
            background: radial-gradient(circle, #a8b6f0 0.25em, transparent 0.25em) center/0.1em 0.1em;
            box-shadow: 4px 4px rgba(253,238,172,0.2);
        }

    .image2 {
        position: fixed;
        top: 135px;
        left: 1200px;
        height: 45px;
        width: 45px;
    }

  .search{
      position:fixed;
      top:20px;
      left: 500px;
  }
    .search-box {
        font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
        font-size: 22px;
        color: #0b2847;
        margin: 0 10px;
        padding: 10px;
        border-radius: 30px;
        border: 1px solid gray;
        width: 300px;
    }

    .search-button {
        font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #0b2847;
        background-color: #a8b6f0;
        width: 100px;
        height: 50px;
        padding: 10px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
    }

</style>

@if (User.IsInRole("Administrator"))
{
    
        <form>
        <div class="search">
                <input type="text" class="search-box" id="Text1" placeholder="Type here..." />
                <button type="button" class="search-button" data-target="#srcuser" data-toggle="modal" id="showPopUser">Search</button>
         </div>

    <!-- Modal -->
            <div class="modal fade" id="srcuser" role="dialog">
                <div class="modal-dialog   modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2>Users</h2>
                            <span class="close">&times;</span>
                        </div>
                        <div class="modal-body ">
                            <div id="popupuser">
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </form>



        @section Scripts{
        <script>
            $('#showPopUser').click(function () {
            previousUrl = window.location.href; // Store the current URL
         
                var url = '@Url.Action("GetViewUsers", "Account")';
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { "para": $("#Text1").val() },
                    success: function (data) {
                        $('#popupuser').html(data);
                    }
                });
            $('.close, .modal').click(function () {
                $('#srcuser').css('display', 'none');
            window.location.href = previousUrl;
        });
            })


        </script>
    }

   
}

<body class="background">
    <input class="bckh1" readonly="readonly" type="text" value="@user.UserName" asp-for="UserName" style=" background-color:#0b2847; font-family: Montserrat; text-align: center; font-size: 25px; border:none" />

<form method="post" asp-route-change="data">
    <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Name:</b> 
        </h2>
            <input type="text"  readonly="readonly"  class="form-control" value="@user.Name" asp-for="Name" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Surname:</b>
        </h2>
            <input type="text" class="form-control"  readonly="readonly"  value="@user.Surname" asp-for="Surname" style="color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
        <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>Date of birth:</b>
        </h2>
            <input type="text" class="form-control" readonly="readonly" value="@user.DateOfBirth" asp-for="DateOfBirth" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>
    <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
            <b>E-mail:</b>
        </h2>
            <input type="email" class="form-control" readonly="readonly" value="@user.Email" asp-for="Email" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
    </div>

</form>

</body>
<div class="text-box10">
    <button class="btn"> <a asp-action="LogOut" asp-controller="Account" style="color:#a8b6f0;;">Sign out</a></button>
</div>
@if(User.IsInRole("Critic,RegisteredUser,Editor")){
    <a asp-action="Home" asp-controller="Home">
    <img class="image2" src="~/assets/images/icons8-home-64.png"/>
</a>
}