@model Spotifive.Models.Song

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/bodyLight.css">
    <style>
        #Im {
            position: fixed;
            top: 220px;
            right: 80px;
        }
    </style>


    <!--Tekst-->

    <style>
        .text-box {
            position: fixed;
            top: 60px;
            left: 150px;
            color: #0b2847;
            text-align: center;
            font-family: Montserrat;
            font-size: 40px;
        }
    </style>

    <style>
        .text-box1 {
            position: fixed;
            top: 120px;
            left: 150px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }
    </style>

 


    <style>
        .text-box2 {
            position: fixed;
            top: 230px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h4 {
            position: fixed;
            top: 238px;
            left: 100px;
        }
    </style>

    <style>
        .text-box3 {
            position: fixed;
            top: 270px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h5 {
            position: fixed;
            top: 270px;
            left: 100px;
        }
    </style>



    <style>
        .text-box4 {
            position: fixed;
            top: 310px;
            left: 300px;
            color: #0b2847;
            font-family: Montserrat;
            text-align: center;
            font-size: 30px;
        }

        h6 {
            position: fixed;
            top: 318px;
            left: 100px;
        }
    </style>

    <style>
        .logo {
            position: fixed;
            bottom: 40px;
            right: 60px;
        }
    </style>

    <style>
        #Im2 {
            position: fixed;
            bottom: 100px;
            left: 100px;
            content: url(S.png);
        }
    </style>

    <style>
        .text {
            text-align: left;
            font-size: 25px;
        }
        .posImg{
            position: fixed;
            top: 130px;
            right: 300px;
        }
        .posQR{
            position: fixed;
            bottom: 30px;
            left: 100px;
        }
    </style>

</head>



<body>

    

    <div class="text-box" asp-for="SongName">@Model.SongName</div>

  
	<!-- <div class="text-box1" asp-for="ArtistName">ArtistSurname</div>  -->



    <h4 class="text">
        Genre:
    </h4>
    <div class="text-box2" asp-for="Genre">@Model.Genre</div>


    <h6 class="text">
        Release date:
    </h6>
     <div class="text-box4" asp-for="DateRelease"> @ViewBag.FormattedDateRelease</div>

    <!--staviti artist image-->

    <img src="@Model.Image" alt="@Model.SongName" width="500" height="500" class="posImg" />

    <img src="@Model.CodeQR" alt="@Model.SongName"  width="250" height="250" class="posQR" />

    <img class="logo" src="~/assets/images/SpotiFIVELogo.png" height="120" width="170">
</body>