@model Spotifive.Models.Song

@{
    ViewData["Title"] = "Edit";
}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    posSgnOut {
        position: fixed;
        top: 40px;
        right: 30px;
    }

     body {
        background-color: #0b2847;
    }

    .background {
        position: fixed;
        top: 30px;
        left: 200px;
        width: 700px;
        height: 300px;
    }

    .btn {
     
        background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 1px;
        border-radius: 20px/50px;
        border: 2px solid #a8b6f0;
        transition: all 0.5s ease 0s;
        color: #a8b6f0;
    }

        .btn:hover,
        .btn:focus {
            color: #0b2847;
            background: radial-gradient(circle, #a8b6f0 0.25em, transparent 0.25em) center/0.1em 0.1em;
            box-shadow: 4px 4px rgba(253,238,172,0.2);
        }
    .posDelete{
        position: fixed;
        top: 510px;
              right: 30px;
    }
     .posUpdate{
        position: fixed;
        top: 570px;
        right: 30px;
    }

    .posAdd{
        position: fixed;
        top: 630px;
        right: 30px;
    }

</style>


    <posSgnOut>
    <button class="btn"><a asp-action="LogOut" asp-controller="Account" style="color: #a8b6f0">Sign Out</a></button>
    </posSgnOut>

<body class="background" style="background-color:#0b2847;">
    <form asp-action="EditSong" asp-controller="Song" asp-route-id="@Model.ID">
        <h4 style="color:#0b2847; font-family: Montserrat; text-align: center; font-size: 25px">
            <b>Song</b>
        </h4>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Song name:</b>
            </h2>
            <input type="text" class="form-control" asp-for="SongName" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="SongName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Release date:</b>
            </h2>
            <input type="text" class="form-control" asp-for="DateRelease" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="DateRelease" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Genre:</b>
            </h2>
            <select asp-for="Genre" class="form-control" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px ">
                @foreach (var genre in Enum.GetValues(typeof(Genre)))
                {
                    <option value="@genre">@genre</option>
                }
            </select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Link:</b>
            </h2>
            <input type="link" class="form-control" asp-for="LinkYT" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="LinkYT" class="text-danger"></span>
        </div>

            <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>QR code:</b>
            </h2>
            <input type="link" class="form-control" asp-for="CodeQR"  style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="CodeQR" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Drive link:</b>
            </h2>
            <input type="link" class="form-control" asp-for="DriveLink" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="DriveLink" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <h2 style="color:#a8b6f0; font-family: Montserrat; text-align: left; font-size: 20px;">
                <b>Image:</b>
            </h2>
            <input type="link" class="form-control" asp-for="Image" style=" color:#0b2847; font-family: Montserrat; text-align: left; font-size: 20px " />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        
            <button class="btn posUpdate"><a asp-action="EditSong" asp-controller="Song" style=" color:#a8b6f0;">Update</a></button>


        </form>


    <form method="post" asp-action="Create" asp-controller="Song" asp-route-id="@Model.ID">



        <input type="submit" class="btn posAdd"  value="Add song" style=" color:#a8b6f0;">


    </form>
    <form method="post" asp-action="Delete" asp-controller="Song" asp-route-id="@Model.ID">



        <input type="submit" class="btn posDelete" value="Delete" style=" color:#a8b6f0;">
      

    </form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
    


