@model Spotifive.Models.Song
@{
	ViewData["Title"] = "Song";
	var playlists = ViewBag.Playlists as List<Playlist>;
}

<head>

	<link rel="stylesheet" href="~/css/moto.css">
	<link rel="stylesheet" href="~/css/body.css">
	<link rel="stylesheet" href="~/css/sgnLogBttn.css">
	<link rel="stylesheet" href="~/css/popUp.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	
	<script>
		$(document).ready(function () {
			$("#saveMP3Button").click(function () {
				$("form").submit(); // Submit the form
			});
		});
	</script>


	<style>
		.centered {
			position: absolute;
			top: 20px;
			left: 50%;
			height: 40px;
			width: 40px;
		}

		.profile {
			position: absolute;
			top: 60px;
			right: 80px;
			height: 60px;
			width: 60px;
		}

		.reviews {
			position: absolute;
			bottom: 40px;
			left: 50px;
			height: 40px;
			width: 40px;
		}

		.ratings {
			position: absolute;
			bottom: 90px;
			left: 50px;
			height: 40px;
			width: 40px;
		}

		.textReviews {
			position: absolute;
			bottom: 140px;
			left: 30px;
			font-size: 20px;
		}

		.download {
			position: absolute;
			bottom: 80px;
			left: 30%;
			height: 30px;
			width: 30px;
		}

		.textDownload {
			position: absolute;
			bottom: 15px;
			left: 28%;
			font-size: 20px;
		}

		.previous {
			position: absolute;
			bottom: 80px;
			left: 42%;
			height: 40px;
			width: 40px;
		}

		.playsong {
			position: absolute;
			bottom: 140px;
			left: 260px;
		}

		.next {
			position: absolute;
			bottom: 80px;
			left: 58%;
			height: 40px;
			width: 40px;
		}

		.add {
			position: absolute;
			bottom: 80px;
			left: 70%;
			height: 40px;
			width: 40px;
		}

		.textAdd {
			position: absolute;
			bottom: 15px;
			left: 70%;
			font-size: 20px;
		}

	

		.edit {
			position: absolute;
			bottom: 80px;
			left: 80%;
			height: 30px;
			width: 30px;
		}

		.textEdit {
			position: absolute;
			bottom: 15px;
			left: 80%;
			font-size: 20px;
		}

		.addingToPlaylist {
			position: absolute;
			top: 80px;
			left: 300px;
			opacity: 0.8;
			width: 400px;
			height: 500px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.successfulyDownloaded {
			opacity: 0.8;
			width: 230px;
			height: 130px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.criticComment {
			opacity: 0.8;
			width: 400px;
			height: 400px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.criticRating {
			opacity: 0.8;
			width: 400px;
			height: 400px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}
		proba{
			position: absolute;
			left: 37.5%;
			top: 9%;
			color: #a8b6f0;
			font-size: 20px;
		}
		.namepos{
			position: absolute;
			left: 49%;
			top: 67%;
			color: #a8b6f0;
			font-size: 20px;
		}
	</style>

</head>

<body>
	<!--OVDJE SU PRIKAZANE REVIEWS JEDNOG CRITICA- ako stignem dodat cu u pop up-->
	<h2>Critic Reviews</h2>
@if (ViewBag.CriticReviews != null)
{
    <ul>
        @foreach (var review in ViewBag.CriticReviews)
        {
            <li>@review.Comment</li>
			<li>@review.Grade</li>
			<li>@review.TimeStamp</li>
        }
    </ul>
}
else
{
    <p>No critic reviews available for this song.</p>
}
<!--KRAJ-->

	<!--ovaj dio treba biti u pop up prozorcicu kada se klikne na add songs, ali modal me zezao pa sam ovdje
		samo isprobala, nisam stigla prebaciti u modal kasnije
	-->	
			<h1>Song</h1>

@using (Html.BeginForm("AddToPlaylist", "Song", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        <label for="playlistSelection">Select a playlist:</label>
        <select id="playlistSelection" name="playlistSelection" class="form-control">
            <option value="">-- Select a playlist --</option>
            @foreach (var playlist in playlists)
            {
                <option value="@playlist.ID">@playlist.PlaylistName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add to Playlist</button>
}
<!--endddddddd-->
	
	
<p class="namepos">@Model.SongName</p>

<proba>
	
<img src="@Model.Image" alt="@Model.SongName" class="song-image" width="420" height="410" >

</proba>
	
		<a asp-action="Details" asp-route-id="@Model.ID" asp-controller="Song">
			<img class="centered" src="~/assets/images/DetailsDots.png" />
	</a>

	<a href="#criticActions"  data-toggle="modal">
		<img class="reviews" src="~/assets/images/Reviews.png" />
	</a>
	<a href="#seeComments" data-toggle="modal">
		<img class="reviews" src="~/assets/images/Reviews.png" />
	</a>

	<a asp-action="Account" asp-controller="Account"><img class="profile" src="~/assets/images/Profile.png" /></a>

	<a href="#criticActionsRating" data-toggle="modal">
		<img class="ratings" src="~/assets/images/Ratings.png" />
	</a>

	<p class="textReviews">Reviews</p>
	
		 <a asp-area="" asp-controller="Song" asp-action="Song" asp-route-id="@Model.ID">
		<img class="download" src="~/assets/images/Download.png" />
	</a>

	

	<p class="textDownload">Download</p>
	
		<audio controls style="width: 70%" class="playsong">
		<!--<source src="https://drive.google.com/uc?export=download&id=1gNoxCrLwgMLnGsgN2lEFMhIFETAaAAVC" />  -->
		<source src="@Model.DriveLink" />
		</audio>


	<a href="#addSongToPlaylist" data-toggle="modal">
		<img class="add" src="~/assets/images/Add.png" />
	</a>

	<p class="textAdd">Add</p>

		<a asp-action="Edit" asp-controller="Song" asp-route-id="@Model.ID"><img class="edit" src="~/assets/images/Edit.png" /></a>
		<p class="textEdit">Edit</p>
	
	 
	<form asp-action="AddSongToPlaylist" asp-controller="Song" id="addToPlaylistForm" method="post">
		

		<div class="modal fade" id="addToPlaylist" role="dialog">
			<div class="modal-dialog   modal-lg">
	
			<div class="modal-content">
				<span class="close">&times;</span>

				<style>
					h1 {
						font-size: 22px;
						position: absolute;
						top: 10px;
						left: 20px;
					}

					h2 {
						font-size: 22px;
						position: absolute;
						top: 330px;
						left: 20px;
					}

					.rectangle {
						position: absolute;
						top: 10px;
						left: 0px;
						width: 100%;
						height: 50px;
						background-color: whitesmoke;
					}

					.buttonOK {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
					}

					.buttonCancel {
						position: absolute;
						bottom: 0px;
						right: 110px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
					}

					.textbox {
						border-color: #0b2847;
						position: absolute;
						top: 390px;
						left: 60px;
						font-size: 18px;
						height: 40px;
						width: 280px;
					}
				</style>

				<div class="rectangle"></div>

				<h1>Add to playlist:</h1>
				<select id="playlistId" name="playlistId">
					@foreach (var playlist in playlists)
					{
						<option id="playlistIdHidden" value="@playlist.ID">@playlist.PlaylistName</option>
					}
				</select>
				<h2>Or make a new playlist:</h2>

				<input type="text" id="newPlaylist" placeholder="Enter name..." class="textbox">

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonCancel" data-dismiss="modal">Cancel</button>
				</div>
				<div class="modal-footer">
					<button type="button" id="addToPlaylistButton">Add</button>
					<!--<button type="button" class="btn btn-secondary buttonOK" data-dismiss="modal">OK</button>-->
				</div>
			</div>
		</div>
	</div>
	</form>
	@section Scripts {
		<script>
			$(function () {
				// Add event listener to the "Add" button
				$("#addToPlaylistButton").on("click", function () {
					// Get the selected playlist ID
					var playlistId = $("#playlistId").val();

					// Set the value of the hidden input field
					$("#songId").val("@Model.ID");
					$("#playlistIdHidden").val(playlistId);

					// Submit the form
					$("#addToPlaylistForm").submit();
				});
			});
		</script>
	}



	<div class="modal fade" id="successfulDownload" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content successfulyDownloaded">
				<style>
					h12 {
						font-size: 22px;
						position: absolute;
						top: 10px;
						left: 43px;
					}

					.rectangle2 {
						position: absolute;
						top: 10px;
						left: 0px;
						width: 100%;
						height: 50px;
						background-color: whitesmoke
					}

					.buttonOK2 {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 100%;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
					}
				</style>
				<div class="rectangle2"></div>

				<h12>Downloaded successfully!</h12>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonOK2" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	
		<div class="modal fade" id="criticActions" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content criticComment">
					<style>
						h13 {
						font-size: 22px;
						position: absolute;
						top: 20px;
						left: 55px;
						}

						.rectangle3 {
						position: absolute;
						top: 10px;
						left: 0px;
						width: 100%;
						height: 50px;
						background-color: #a8b6f0;
						}

						.buttonConfirm {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
						}

						.buttonCancel3 {
						position: absolute;
						bottom: 0px;
						right: 110px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						}

						.textbox3 {
						border-color: #0b2847;
						position: absolute;
						top: 70px;
						left: 50px;
						font-size: 18px;
						height: 280px;
						width: 290px;
						}
					</style>
					<div class="rectangle3">	</div>
					<h13>You are logged in as Critic</h13>


					<input type="text" id="newComment" placeholder="Add comment..." class="textbox3">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary buttonCancel3" data-dismiss="modal">Cancel</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary buttonConfirm" data-dismiss="modal">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	
	@if(User.IsInRole("Registered user"))
	{
		<div class="modal fade" id="userActions" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content criticComment">
					<style>
						h13 {
							font-size: 22px;
							position: absolute;
							top: 20px;
							left: 55px;
						}

						.rectangle3 {
							position: absolute;
							top: 10px;
							left: 0px;
							width: 100%;
							height: 50px;
							background-color: #a8b6f0;
						}

						.buttonConfirm {
							position: absolute;
							bottom: 0px;
							right: 0px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
							font-weight: bold;
						}

						.buttonCancel3 {
							position: absolute;
							bottom: 0px;
							right: 110px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
						}

						.textbox3 {
							border-color: #0b2847;
							position: absolute;
							top: 70px;
							left: 50px;
							font-size: 18px;
							height: 280px;
							width: 290px;
						}
					</style>
					<div class="rectangle3">	</div>
					<h13>You are logged in as Critic</h13>


					<input type="text" id="newComment" placeholder="Add comment..." class="textbox3">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary buttonCancel3" data-dismiss="modal">Cancel</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary buttonConfirm" data-dismiss="modal">Confirm</button>
					</div>
				</div>
			</div>
		</div>
		
	}

	<!--OVDJE JE DA CRITIC DODAJE REVIEWS U BAZU!!!-->
	<div class="modal fade" id="criticActionsRating" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content criticComment">
				<style>
					h13 {
						font-size: 22px;
						position: absolute;
						top: 20px;
						left: 55px;
					}

					.rectangle3 {
						position: absolute;
						top: 10px;
						left: 0px;
						width: 100%;
						height: 50px;
						background-color: #a8b6f0;
					}

					.buttonConfirm {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
					}

					.buttonCancel3 {
						position: absolute;
						bottom: 0px;
						right: 110px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
					}

					.starbar {
						border-color: #0b2847;
						position: absolute;
						top: 70px;
						left: 50px;
						font-size: 18px;
						height: 280px;
						width: 290px;
					}

				</style>
				<div class="rectangle3">	</div>
				<h13>You are logged in as Critic</h13>
				
@using (Html.BeginForm("AddReview", "Song", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ID)
        @Html.DisplayFor(model => model.ID)
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        @Html.TextAreaFor(model => model.Review.Comment, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="grade">Grade</label>
        @Html.TextBoxFor(model => model.Review.Grade, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(model => model.ID)

    <button type="submit" class="btn btn-primary">Submit Review</button>
}

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonCancel3" data-dismiss="modal">Cancel</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonConfirm" data-dismiss="modal">Confirm</button>
				</div>
			</div>
		</div>
	</div>

	<!--user reviews-->
	<div class="modal fade" id="seeComments" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content criticComment">
				<style>
					

					h13 {
						font-size: 22px;
						position: absolute;
						top: 20px;
						left: 55px;
					}

					.rectangle4 {
						
						margin-bottom: 3px; /* Add spacing at the bottom of each list item */
						background-color: #a8b6f0;
						width: 100%;
						height: auto;
						
					}
					.posul{
						position: absolute;
						top: 80px;
					}

					
					.buttonOK5 {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
					}

					.scroll-view {
						max-height: 260px; /* Set the maximum height of the scroll view */
						overflow-y: auto; /* Enable vertical scroll if content overflows */
					}
				</style>
				<div class="rectangle3">	</div>
				<h13>Comments</h13>
				<ul class="posul scroll-view">
					@foreach (var review in Model.Reviews)
					{
						<li class="rectangle4">@review.Comment</li>
					}
				</ul>


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonOK5" data-dismiss="modal">OK</button>
				</div>
			
		</div>
	</div>

	<!--adding a new song to the database-->
	<div class="modal fade" id="addSongToPlaylist" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content criticComment">
				<style>
					

					h13 {
						font-size: 22px;
						position: absolute;
						top: 20px;
						left: 55px;
					}

					.rectangle4 {
						
						margin-bottom: 3px; /* Add spacing at the bottom of each list item */
						background-color: #a8b6f0;
						width: 100%;
						height: auto;
						
					}
					.posul{
						position: absolute;
						top: 80px;
					}

					
					.buttonOK5 {
						position: absolute;
						bottom: 0px;
						right: 0px;
						font-size: 18px;
						height: 40px;
						width: 110px;
						background-color: whitesmoke;
						color: #0b2847;
						border-color: #0b2847;
						font-weight: bold;
					}

					.scroll-view {
						max-height: 260px; /* Set the maximum height of the scroll view */
						overflow-y: auto; /* Enable vertical scroll if content overflows */
					}
				</style>
				<h1>Song</h1>

@using (Html.BeginForm("AddToPlaylist", "Song", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="playlistSelection">Select a playlist:</label>
        <select id="playlistSelection" name="playlistSelection" class="form-control">
            <option value="">-- Select a playlist --</option>
            @foreach (var playlist in playlists)
            {
                <option value="@playlist.ID">@playlist.PlaylistName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add to Playlist</button>
}

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary buttonOK5" data-dismiss="modal">OK</button>
				</div>
			
		</div>
	</div>





</body>