@model Spotifive.Models.Song
@{
	ViewData["Title"] = "Song";
	var playlists = ViewBag.Playlists as List<Playlist>;
}

<head>

	<link rel="stylesheet" href="~/css/moto.css">
	<link rel="stylesheet" href="~/css/body.css">
	<link rel="stylesheet" href="~/css/sgnLogBttn.css">
	<link rel="stylesheet" href="~/css/popUp.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script>
		$(document).ready(function () {
			$("#saveMP3Button").click(function () {
				$("form").submit(); // Submit the form
			});
		});
	</script>


	<style>
		.centered {
			position: absolute;
			top: 20px;
			left: 50%;
			height: 40px;
			width: 40px;
		}

		.profile {
			position: absolute;
			top: 60px;
			right: 80px;
			height: 60px;
			width: 60px;
		}

		.reviews {
			position: absolute;
			bottom: 40px;
			left: 50px;
			height: 40px;
			width: 40px;
		}

		.ratings {
			position: absolute;
			bottom: 90px;
			left: 50px;
			height: 40px;
			width: 40px;
		}

		.textReviews {
			position: absolute;
			bottom: 140px;
			left: 30px;
			font-size: 20px;
		}

		.download {
			position: absolute;
			bottom: 80px;
			left: 30%;
			height: 30px;
			width: 30px;
		}

		.textDownload {
			position: absolute;
			bottom: 15px;
			left: 28%;
			font-size: 20px;
		}

		.previous {
			position: absolute;
			bottom: 80px;
			left: 42%;
			height: 40px;
			width: 40px;
		}

		.playsong {
			position: absolute;
			bottom: 140px;
			left: 260px;
		}

		.next {
			position: absolute;
			bottom: 80px;
			left: 58%;
			height: 40px;
			width: 40px;
		}

		.add {
			position: absolute;
			bottom: 80px;
			left: 70%;
			height: 40px;
			width: 40px;
		}

		.textAdd {
			position: absolute;
			bottom: 15px;
			left: 70%;
			font-size: 20px;
		}



		.edit {
			position: absolute;
			bottom: 80px;
			left: 80%;
			height: 30px;
			width: 30px;
		}

		.textEdit {
			position: absolute;
			bottom: 15px;
			left: 80%;
			font-size: 20px;
		}

		.addingToPlaylist {
			position: absolute;
			top: 80px;
			left: 300px;
			opacity: 0.8;
			width: 400px;
			height: 500px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.successfulyDownloaded {
			opacity: 0.8;
			width: 230px;
			height: 130px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.criticComment {
			opacity: 0.8;
			width: 400px;
			height: 400px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		.criticRating {
			opacity: 0.8;
			width: 400px;
			height: 400px;
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif; /*sans-serif is in case there is no montserrat on the user's system*/
			color: #0b2847;
		}

		proba {
			position: absolute;
			left: 37.5%;
			top: 9%;
			color: #a8b6f0;
			font-size: 20px;
		}

		.namepos {
			position: absolute;
			left: 49%;
			top: 67%;
			color: #a8b6f0;
			font-size: 20px;
		}

		.imgG {
			border: 1px solid #a8b6f0;
			border-radius: 4px;
			padding: 5px;
			width: 400px;
			height: 400px;
		}

			.imgG:hover {
				box-shadow: 0 0 2px 1px #a8b6f0;
			}
	</style>

</head>




<body>

	<proba>

		<img src="@Model.Image" alt="@Model.SongName" class="imgG" width="420" height="410">
		<p style="align-content:center">@Model.SongName</p>
	</proba>

	<a asp-action="Details" asp-route-id="@Model.ID" asp-controller="Song">
		<img class="centered" src="~/assets/images/DetailsDots.png" />
	</a>


	@if (User.IsInRole("RegisteredUser"))
	{
		<a href="#seeComments" data-toggle="modal">
			<img class="reviews" src="~/assets/images/Reviews.png" />
		</a>
	}
	<a asp-action="Account" asp-controller="Account"><img class="profile" src="~/assets/images/Profile.png" /></a>

	@if (User.IsInRole("Critic"))
	{
		<a href="#criticActionsRating" data-toggle="modal">
			<img class="reviews" src="~/assets/images/Ratings.png" />
		</a>
	}
	@if (User.IsInRole("RegisteredUser,Critic"))
	{
		<p class="ratings" style="color: #a8b6f0; font-size: 20px;">Reviews</p>
	}
	@if (User.IsInRole("RegisteredUser"))
	{
		<a asp-area="" asp-controller="Song" asp-action="Song" asp-route-id="@Model.ID">
			<img class="download" src="~/assets/images/Download.png" />
		</a>

		<p class="textDownload" style="color: #a8b6f0; font-size: 20px;">Download</p>
	}
	<audio controls style="width: 70%" class="playsong">
		<!--<source src="https://drive.google.com/uc?export=download&id=1gNoxCrLwgMLnGsgN2lEFMhIFETAaAAVC" />  -->
		<source src="@Model.DriveLink" />
	</audio>


	@if (User.IsInRole("RegisteredUser"))
	{
		<a href="#addSongToPlaylist" data-toggle="modal">
			<img class="add" src="~/assets/images/Add.png" />
		</a>
		<p class="textAdd" style="color: #a8b6f0; font-size: 20px;">Add</p>
	}


	@if (User.IsInRole("Editor"))
	{
		<a asp-action="Edit" asp-controller="Song" asp-route-id="@Model.ID"><img class="edit" src="~/assets/images/Edit.png" /></a>
		<p class="textEdit">Edit</p>
	}

	@if (User.IsInRole("RegisteredUser"))
	{
		<div class="modal fade" id="addSongToPlaylist" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content criticComment">
					<style>
						h13 {
							font-size: 22px;
							position: absolute;
							top: 20px;
							left: 55px;
						}

						.rectangle3 {
							position: absolute;
							top: 10px;
							left: 0px;
							width: 100%;
							height: 50px;
							background-color: #a8b6f0;
						}

						.buttonConfirm {
							position: absolute;
							bottom: 0px;
							right: 0px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
							font-weight: bold;
						}

						.buttonCancel3 {
							position: absolute;
							bottom: 0px;
							right: 110px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
						}

						.starbar {
							border-color: #0b2847;
							position: absolute;
							top: 70px;
							left: 50px;
							font-size: 18px;
							height: 280px;
							width: 290px;
						}

						.btn {
							background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
							font-family: 'Montserrat', sans-serif;
							font-size: 20px;
							font-weight: 700;
							text-transform: capitalize;
							letter-spacing: 1px;
							border-radius: 20px/50px;
							border: 2px solid #0b2847;
							transition: all 0.5s ease 0s;
							color: #a8b6f0;
						}

							.btn:hover,
							.btn:focus {
								color: #a8b6f0;
								background: radial-gradient(circle, #0b2847 0.25em, transparent 0.25em) center/0.1em 0.1em;
								box-shadow: 4px 4px rgba(253,238,172,0.2);
							}

					</style>
					<h13 class="rectangle3">Add song to playlist:</h13>
					<div class="modal-body">


						@using (Html.BeginForm("AddToPlaylist", "Song", FormMethod.Post))
						{
							@Html.AntiForgeryToken()

							@Html.HiddenFor(model => model.ID)
							<br />
							<br />
							<div class="form-group">
								<select id="playlistSelection" name="playlistSelection" class="form-control">
									<option value="">-- Select a playlist --</option>
									@foreach (var playlist in playlists)
									{
										<option value="@playlist.ID">@playlist.PlaylistName</option>
									}
								</select>
							</div>

							<button type="submit" class="btn btn-primary">Add to Playlist</button>
						}
					</div>

				</div>
			</div>
		</div>
	}

	@if (User.IsInRole("Critic"))
	{
		<div class="modal fade" id="criticActionsRating" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content criticComment">
					<style>
						h13 {
							font-size: 22px;
							position: absolute;
							top: 20px;
							left: 55px;
						}

						.rectangle3 {
							position: absolute;
							top: 10px;
							left: 0px;
							width: 100%;
							height: 50px;
							background-color: #a8b6f0;
						}

						.buttonConfirm {
							position: absolute;
							bottom: 0px;
							right: 0px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
							font-weight: bold;
						}

						.buttonCancel3 {
							position: absolute;
							bottom: 0px;
							right: 110px;
							font-size: 18px;
							height: 40px;
							width: 110px;
							background-color: whitesmoke;
							color: #0b2847;
							border-color: #0b2847;
						}

						.starbar {
							border-color: #0b2847;
							position: absolute;
							top: 70px;
							left: 50px;
							font-size: 18px;
							height: 280px;
							width: 290px;
						}

						.btn {
							background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
							font-family: 'Montserrat', sans-serif;
							font-size: 20px;
							font-weight: 700;
							text-transform: capitalize;
							letter-spacing: 1px;
							border-radius: 20px/50px;
							border: 2px solid #0b2847;
							transition: all 0.5s ease 0s;
							color: #a8b6f0;
						}

							.btn:hover,
							.btn:focus {
								color: #a8b6f0;
								background: radial-gradient(circle, #0b2847 0.25em, transparent 0.25em) center/0.1em 0.1em;
								box-shadow: 4px 4px rgba(253,238,172,0.2);
							}

					</style>
					<h13 class="rectangle3">You are logged in as Critic</h13>
					<div class="modal-body">

						@using (Html.BeginForm("AddReview", "Song", FormMethod.Post))
						{
							@Html.AntiForgeryToken()

							<br />
							<br />

							<div class="form-group">
								<label for="comment">Comment</label>
								@Html.TextAreaFor(model => model.Review.Comment, new { @class = "form-control" })
							</div>

							<div class="form-group">
								<label for="grade">Grade</label>
								@Html.TextBoxFor(model => model.Review.Grade, new { @class = "form-control" })
							</div>

							@Html.HiddenFor(model => model.ID)

							<button type="submit" class="btn">Submit review</button>
						}
					</div>

				</div>
			</div>
		</div>
	}
	@if (User.IsInRole("RegisteredUser"))
	{
		<div class="modal fade" id="seeComments" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content criticComment">
					<style>


						h13 {
							font-size: 22px;
							position: absolute;
							top: 20px;
							left: 55px;
						}

						.rectangle4 {
							margin-bottom: 3px; /* Add spacing at the bottom of each list item */
							background-color: #a8b6f0;
							width: 100%;
							height: auto;
						}

						.posul {
							position: absolute;
							top: 80px;
						}


						.btn {
							background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
							font-family: 'Montserrat', sans-serif;
							font-size: 20px;
							font-weight: 700;
							text-transform: capitalize;
							letter-spacing: 1px;
							border-radius: 20px/50px;
							border: 2px solid #0b2847;
							transition: all 0.5s ease 0s;
							color: #a8b6f0;
						}

							.btn:hover,
							.btn:focus {
								color: #a8b6f0;
								background: radial-gradient(circle, #0b2847 0.25em, transparent 0.25em) center/0.1em 0.1em;
								box-shadow: 4px 4px rgba(253,238,172,0.2);
							}

						.scroll-view {
							max-height: 260px; /* Set the maximum height of the scroll view */
							overflow-y: auto; /* Enable vertical scroll if content overflows */
						}
					</style>
					<div class="rectangle3">	</div>
					<div method="modal-body">
						<h13>Comments</h13>
						<ul class="posul scroll-view">
							<p>Comments from Youtube</p>
							@foreach (var review in Model.Reviews)
							{
								<li class="rectangle4">@review.Comment</li>
							}


							@if (ViewBag.CriticReviews != null)
							{
								<p>Comments from Critics</p>
								@foreach (var review in ViewBag.CriticReviews)
								{
									<li class="rectangle4"> @review.Comment, @review.Grade, @review.TimeStamp</li>
								}

							}
							else
							{
								<p>No critic reviews available for this song.</p>
							}
						</ul>
						<div class="modal-footer">
							<button type="button" class="btn" data-dismiss="modal" style="position:fixed; bottom: 330px; ">Close</button>
						</div>
					</div>

				</div>


			</div>
		</div>
	}





</body>
